<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
  <meta charset="utf-8">
  <title>Salter</title>
 
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
</head>
<body>
  <form action="" >
    <select class="form-select" (change)="selectChangeHandler($event)">
      <option selected>Odaberite kategoriju</option> 
      <option value="1">Izvod iz matične knjige vjenčanih</option>
      <option value="2">Građevinske dozvole</option>

        
    </select>
  </form>


      <div class="vjencani" *ngIf="selectedOption=='1'">
        <h2>Unesite potrebne podatke</h2>
        <form>
          <input type="text" class="input-box" placeholder="Datum vjencanja"><br>
          <input type="text" class="input-box" placeholder="Mjesto vjencanja"><br>
          <input type="text" class="input-box" placeholder="Prezime i ime supruga"><br>
          <input type="text" class="input-box" placeholder="Djevojacko prezime i ime supruge"><br>
        </form>
      </div>

      <div class="vjencani" *ngIf="selectedOption=='2'">
        <h2>Unesite potrebne podatke</h2>
        <form>
          <input type="text" class="input-box" placeholder="Ime"><br>
          <input type="text" class="input-box" placeholder="Prezime"><br>
          <input type="text" class="input-box" placeholder="JMBG"><br>
          <input type="text" class="input-box" placeholder="Adresa"><br>
          <input type="text" class="input-box" placeholder="Broj telefona"><br>
          <input type="text" class="input-box" placeholder="E-mail"><br>
          <input type="text" class="input-box" placeholder="Parcela"><br>
        </form>
      </div>


      
      