<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
  <meta charset="utf-8">
  <title>Salter</title>
 
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
</head>
<body>
  <form action="" class="form-group">
    <select class="form-select" (change)="selectChangeHandler($event)">
      <option selected>Odaberite kategoriju</option> 
      <option value="1">Izvod iz matične knjige vjenčanih</option>
      <option value="2">Građevinske dozvole</option>

        
    </select>
  </form>


      <div class="form-group" *ngIf="selectedOption=='1'">
        <h2>Unesite potrebne podatke</h2>
        <form [formGroup]="marriageForm" (submit)="submitMarriageForm()">
          <input type="text" class="form-control" placeholder="Datum vjencanja" formControlName="dateOfMarriage"><br>
          <!-- <span *ngIf="marriageForm.controls.dateOfMarriage.errors.required">Datum vjencanja je obavezan</span> -->
          <input type="text" class="form-control" placeholder="Mjesto vjencanja" formControlName="marriageLocation"><br>
          <input type="text" class="form-control" placeholder="Prezime supruga" formControlName="groomFirstName"><br>
          <input type="text" class="form-control" placeholder="Ime supruga" formControlName="groomLastName"><br>
          <input type="text" class="form-control" placeholder="Djevojacko prezime supruge" formControlName="brideMaidenLastName"><br>
          <input type="text" class="form-control" placeholder="Ime supruge" formControlName="brideFirstName"><br>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>

      <div class="form-group" *ngIf="selectedOption=='2'">
        <h2>Unesite potrebne podatke</h2>
        <form [formGroup]="buildingPermitForm" (submit)="submitBuildingPermit()">
          <input type="text" class="form-control" placeholder="Ime" formControlName="firstName"><br>
          <input type="text" class="form-control" placeholder="Prezime" formControlName="lastName"><br>
          <input type="text" class="form-control" placeholder="JMBG" formControlName="jmbg"><br>
          <input type="text" class="form-control" placeholder="Adresa" formControlName="address"><br>
          <input type="text" class="form-control" placeholder="Broj telefona" formControlName="phoneNumber"><br>
          <input type="text" class="form-control" placeholder="E-mail" formControlName="email"><br>
          <input type="text" class="form-control" placeholder="Parcela" formControlName="lot"><br>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>


      
      